.border-radius(@radius: 4px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// .boxShadow(0 0 4px #444);
.box-shadow(@x: 0, @y: 0, @radius: 4px, @spread: 4px, @color: rgba(0,0,0,0.5)) {
	-webkit-box-shadow: @x @y @spread @color;
	   -moz-box-shadow: @x @y @spread @color;
				box-shadow: @x @y @spread @color; 
}

// .transition(all,2s);
.transition(@what: all, @time: 0.2s) {
	-webkit-transition: @what @time ease-out;
	   -moz-transition: @what @time ease-out;
	     -o-transition: @what @time ease-out;
	        transition: @what @time ease-out;
}

.transition(@what:all, @time:0.2s, @type:ease-out) {
	-webkit-transition: @what @time @type;
	   -moz-transition: @what @time @type;
	    -ms-transition: @what @time @type;
	     -o-transition: @what @time @type;
	        transition: @what @time @type;
}

// .css-gradient(#dfdfdf,#f8f8f8);
.css-gradient(@from: #dfdfdf, @to: #f8f8f8) {
	background-color: @to;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to));
	background-image: -webkit-linear-gradient(top, @from, @to);
	background-image: -moz-linear-gradient(top, @from, @to);
	background-image: -o-linear-gradient(top, @from, @to);
	background-image: linear-gradient(to bottom, @from, @to);
}

.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.hyphens (@value : auto) {
	-webkit-hyphens: @value;
	-moz-hyphens: @value;
	-ms-hyphens: @value;
	hyphens: @value;
}