<div class="indexmenu">
	<table width="100%" border="0" cellspacing="1" cellpadding="0" align="center">
	  	<tr>
	  		<td valign="middle" id="indextime">
	    		<!-- BEGIN switch_user_logged_in -->
				<span class="gensmall">
	            	{CURRENT_TIME}<br />
					{LAST_VISIT_DATE}
				</span>
	            <!-- END switch_user_logged_in -->
				<div class="nav"><a class="nav" href="{U_INDEX}">{L_INDEX}</a>{NAV_CAT_DESC}</div>
			</td>
			<td class="gensmall" align="right" valign="bottom">
			    <div class="btn-group menugauche">
				    <!-- BEGIN switch_user_logged_in --><a class="btn gensmall" href="{U_SEARCH_NEW}">Nouveaux</a><!-- END switch_user_logged_in -->
				    <!-- BEGIN switch_user_logged_in --><a class="btn gensmall" href="{U_SEARCH_SELF}">Mes messages</a><!-- END switch_user_logged_in -->
				    <a class="btn gensmall" href="{U_SEARCH_UNANSWERED}">Sans réponse</a>
			    </div>
			</td>
		</tr>
	</table>
</div>

<br />

<!-- BEGIN catrow --><!-- BEGIN tablehead -->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	    <td>
		    <div class="forumcontainer">
				<div nowrap="nowrap" width="100%" class="secondarytitle">{catrow.tablehead.L_FORUM}</div>
				
				<!-- END tablehead -->
				<!-- BEGIN cathead -->

					<!-- BEGIN inc -->
					<div class="{catrow.cathead.inc.INC_CLASS}" width="46"><img src="{SPACER}" height="0" width="46" /></div>
					<!-- END inc -->
					<div class="{catrow.cathead.CLASS_CAT}" colspan="{catrow.cathead.INC_SPAN}" width="100%">
						<h{catrow.cathead.LEVEL} class="hierarchy">
							<span class="cattitle">
								<a class="cattitle" title="{catrow.cathead.CAT_DESC}" href="{catrow.cathead.U_VIEWCAT}">{catrow.cathead.CAT_TITLE}</a>
							</span>
						</h{catrow.cathead.LEVEL}>
					</div>
				

				<!-- END cathead -->
				<!-- BEGIN forumrow -->
				<div class="forumbloc">
					
			   
			   		<table border="0" cellspacing="8" cellpadding="0" width="100%">
						<tr>
							<td width="34" valign="top"><img title="{catrow.forumrow.L_FORUM_FOLDER_ALT}" src="{catrow.forumrow.FORUM_FOLDER_IMG}" alt="{catrow.forumrow.L_FORUM_FOLDER_ALT}" /></td>

							<td valign="top">

								<a href="{catrow.forumrow.U_VIEWFORUM}" class="forumlink">
									<span class="forumname">{catrow.forumrow.FORUM_NAME}</span>
								</a> 
								<span class="forumstats" >({catrow.forumrow.TOPICS} sujets, {catrow.forumrow.POSTS} messages)</span>


								<table width="100%" border="0" cellspacing="5" cellpadding="0">
									<tr>
										<td valign="top">
											<div  class="gensmall forumdesc">{catrow.forumrow.FORUM_DESC}</div>
										</td>
										<td width="120" class="forumsousforum">
											<div class="box-sousforums listeforums">
												<div class="nano">
													<div class="content">
														{catrow.forumrow.L_LINKS}{catrow.forumrow.LINKS}
													</div>
												</div>
											</div>
										</td>
										<td width="150" class="forumlastpost">{catrow.forumrow.LAST_POST}</td>
									</tr>
								</table>
							</td>
						</tr>
				    </table>
				
				</div>
				<!-- END forumrow -->

				<!-- BEGIN catfoot -->

			          <!-- BEGIN inc -->
					<div class="{catrow.catfoot.inc.INC_CLASS}" width="46"><img src="{SPACER}" height="0" width="46" /></div>
					<!-- END inc -->
					<div class="spaceRow" colspan="{catrow.catfoot.INC_SPAN}" height="1"><img src="{SPACER}" alt="" height="1" width="1" /></div>
				
				<!-- END catfoot -->

				<!-- BEGIN tablefoot -->
			</div>
		</td>
	</tr>
</table> <img src="{SPACER}" alt="" height="5" width="1" /><!-- END tablefoot --><!-- END catrow -->
